-r requirements.txt
# System related
build
gcsfs
ipykernel
ipywidgets
pyyaml
types-pyyaml
# Scipy stack
scikit-learn
pandas
# Others
tqdm
# Testing
pytest
pytest-cov
pytest-mock
httpx
trio
# Formatiing, linting
mypy
pylint
black
isort