# System related
build
gcsfs
ipykernel
pyyaml
types-pyyaml
python-multipart
# Scipy stack
numpy
matplotlib
scikit-learn
pandas
# ML
mediapipe
# API
fastapi
uvicorn[standard]
# CV
opencv-python
# Others
tqdm
# Testing
pytest
pytest-cov
pytest-mock
# Formatiing, linting
mypy
pylint
black
isort